{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-lg-7">
        <h2>
            {% if formType == 'editPet'%}
                Edit {{petObject.pet_name}}.
            {% else %}
                Add a pet
            {% endif %}
        </h2>
        <form method="POST" id="" class="">
        
            {% include 'form_base.html' %}

            <a class="btn btn-outline-danger" href="/edit">Cancel Changes</a>
            <button class="btn btn-dark">Save Changes</button>
        </form>
    </div>
</div>

{% endblock content %}