/* Bootstrap CSS Selectors (Override)
*/
.row{
    margin-left:0;
    margin-right:0;
}
.alert{
    width:100%;
    border-radius:0;
}
.btn-block{
    width:100%;
}

/*  Document CSS Selectors
*/
body{
    background-image:url('../paw_print_2160p.png');
}

form{

}
    form input{
        margin-bottom:1em;
    }
    
.form-control{
    list-style: none;
}


#navbar{
    padding:10px;
}
    #navbar table, #navbar tr{
        width: 100%;
    }
        .navbar-td{
            text-align: center;
        }
        #nav-logo{
            width:49px;
        }
        #navbar-user-img{
            width:49px;
            border-radius:100%;
        }
        #navbar-home-link{
            text-decoration: none;
        }
    #logo{
        max-height:100px;
    }

#content{
    margin:4% 2% 0 2%;
}

#onboardingLinkTable{
    width:100%;
    margin-bottom:4%;
}

#userInformationTable{
    width:100%;
}
    #userInformationTable h1, #userInformationTable p{
        margin:0
    }
    #userInformationTable img{
        border-radius:100%;
    }

.petSpecie_input li{
    display:inline;
}

#searchView_search{
    position:fixed;
    width:35%;
    float:left;
}
#searchView_petResults{
    width:60%;
    float:right;
}
    .animal-container{
        margin:4px;
        width:250px;    /*yeah, this probably needs to be responsive in the future*/
        padding:16px;
        text-align:center;
    }

#petView{
    position:relative;
    width:100%;
    text-align:center;
}

.user-image{
    width:100px;
    height:100px;
    object-fit:cover;
    /*chrome32+, edge16/79+, f36+, o19+, s10+, */
        -o-object-fit: cover;   /**o11.6-o15*/
}
}
.pet-container{
    display:inline;
}
    .pet-container img{
        display:block;
    }
.pet-image{
    width:100px;
    height:100px;
    object-fit:cover;
        /*chrome32+, edge16/79+, f36+, o19+, s10+, */
        -o-object-fit: cover;   /**o11.6-o15*/
    border-radius:100%;
}

.isElevated{
    font-weight: bold;
    color:#0F0;
}

/*  General CSS Selectors
*/
.btn-radio{
    margin:0;
    border:none;
}

.textAlign-right{
    text-align: right;
}

.inline{display:inline;}
.block{display:block;}
.inline-block{display:inline-block;}

.width{}
    .width-100{width:100%;}

td{}
    .td-empty{
        width:75%;
    }
    .td-centerDisplay{
        text-align:center;
    }
    .td-33{
        width:33%;
        padding:0 1%;
    }
    .td-20{
        width:20%;
        padding:0 1%;
    }
    .td-10{
        width:10%;
        padding:0 1%;
    }
    .td-0{
        width:0;
        padding:0;
    }

.cursor-default{
    cursor:default;
}