{% extends 'base.html' %}

{% block backgroundImage %}style="background-image:none"{% endblock backgroundImage %}
    <!--remove distracting bg image-->

{% block content %}

<table id="onboardingLinkTable">
    <!--Not within scope of project.-->
    <tr>
        <td class="td-33"><a class="btn btn-outline-dark btn-sm btn-block" href='' class=''>Import Database as CSV</a></td>
        <td class="td-33"><a class="btn btn-outline-dark btn-sm btn-block" href='' class=''>Export Database as CSV</a></td>
        <td class="td-33"><a class="btn btn-outline-success btn-sm btn-block" href='/dashboard/addpet' class=''>Manually Add Pet</a></td>
    </tr>
</table>
<table>
    <tr>
        <th>##</th>
        <th>Pet Image</th>
        <th>Pet Name</th>
        <th>Pet Specie</th>
        <th>Listed Since</th>
        <th>Status</th>
        <th>Inquiries</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        
    </tr>
    {% for information in listedInformation %}
        <tr>
            <td></td>
            <td><img class="pet-image" src=/static/imgs/{{information.petReference.image_url}} alt="{{information.petReference.pet_name}}"></td>
            <td><a href="/pets/{{information.petReference.id}}">{{information.petReference.pet_name}}</a></td>
            <td>{{information.petReference.petClassReference.specie_name}}</td>    
            <td>{{information.petReference.publish_time}}</td>            
            <td>Active</td> <!-- this and below is out of scope -->
            <td>Null</td>
            <td><a class="btn-outline-primary btn btn-block"><i class="fa-solid fa-pen-to-square"></i> Edit Pet</a></td>
            <td><a class="btn-success btn btn-block"><i class="fa-solid fa-check"></i> Pet Adopted</a></td>
            <td><a class="btn-danger btn btn-block"><i class="fa-solid fa-trash-can"></i> Delete Pet</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}