<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <title>PetSearch</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">  
    <!-- <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"> -->

    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">

</head>

<body {% block backgroundImage %}{% endblock backgroundImage %}>

    <!-- Navigation -->
    <div id="navbar" class="container-fluid ">
      <table>
        <tr>
          <td>
            <a href="/" class="navbar-brand">
              <img id='nav-logo' src="{{url_for('static', filename='petsearch.png')}}" alt="PetSearch logo">
            </a>
          </td>
          <td class="navbar-td-empty"></td>
          {% if not g.user %}
            <td class="td-10 navbar-td">
              <a class="btn btn-outline-dark btn-sm btn-block" href="/signup">Sign up</a>
            </td>
            <td class="td-10 navbar-td">
              <a class="btn btn-outline-dark btn-sm btn-block" href="/login">Log in</a>
            </td>
          {% else %}
            <td id='nav-picture_container' class="td-10 navbar-td">
              <a href="/users/{{ g.user.username }}">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }} Profile">
              </a>
            </td>
            <td class="td-10 navbar-td textAlign-right">
              {% if g.user.is_elevated %}
                <a class="btn btn-outline-success btn-sm btn-block" href="/edit"><i class="fa-solid fa-database"></i> Database</a>
              {% else %}
                <a class="btn btn-outline-danger btn-sm btn-block" href="/edit"><i class="fa-solid fa-heart"></i> Favorites</a>
              {% endif %}
            </td>
            <td class="td-10 navbar-td textAlign-right">
              <a class="btn btn-outline-dark btn-sm btn-block" href="/logout">Log out</a>
            </td>
          {% endif %}
        </tr>
      </table>
    </div>

    <!-- Flash Messages -->
    <div id='flash'>

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }} position-absolute">{{ message }}</div>
        {% endfor %}

    </div>
    <div id='content'>
      {% block content %}
      {% endblock content %}
    </div>

    <script src="/static/scripts/script.js"></script>

</body>
</html>