<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <title>PetSearch</title>

    <link rel="shortcut icon" href="/static/favicon.ico">  

    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">

</head>

<body>

    <!-- Navigation -->
    <div id="navbar" class="container-fluid ">
      <table>
        <tr>
          <td>
            <a href="/" class="navbar-brand">
              <img id='nav-logo' src="{{url_for('static', filename='imgs/default_pet.png')}}" alt="PetSearch logo">
            </a>
          </td>
          <td class="navbar-td-empty"></td>
          {% if not g.user %}
            <td class="navbar-td">
              <a class="btn btn-outline-dark btn-sm" href="/signup">Sign up</a>
              <a class="btn btn-outline-dark btn-sm" href="/login">Log in</a>
            </td>
          {% else %}
            <td id='nav-picture_container' class="navbar-td">
              <a href="/users/{{ g.user.username }}">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }} Profile">
              </a>
            </td>
            <td class="navbar-td">
              {% if g.user.is_elevated %}
                <a class="btn btn-outline-success btn-sm" href="/edit">Admin</a>
              {% endif %}
              <a class="btn btn-outline-dark btn-sm" href="/logout">Log out</a>
            </td>
          {% endif %}
        </tr>
      </table>
    </div>

    <!-- Flash Messages -->
    <div>

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

    </div>

    {% block content %}
    {% endblock content %}

    <script src="/static/scripts/script.js"></script>

</body>
</html>