<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <title>PetSearch</title>

    <link rel="shortcut icon" href="/static/favicon.ico">  

    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">

</head>

<body>

    <!-- Navigation -->
    <div id="navbar" class="container-fluid ">
      <table>
        <tr>
          <td>
            <a href="/" class="navbar-brand">
              <img id='logo' src="{{url_for('static', filename='favicon.ico')}}" alt="PetSearch logo">
            </a>
          </td>
          <td class="navbar-td-empty"></td>
          {% if not g.user %}
            <td class="navbar-td-empty"></td>
            <td><a href="/signup">Sign up</a></td>
            <td><a href="/login">Log in</a></td>
          {% else %}
            {% if g.user.is_elevated %}
              <td><a href="/edit">Administrator Operations</a></td>
            {% else %}
              <td class="navbar-td-empty"></td>
            {% endif %}
            <td>
              <a href="/users/{{ g.user.id }}">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
              </a>
            </td>
            <td><a href="/logout">Log out</a></td>
          {% endif %}
        </tr>
      </table>

    <!-- Flash Messages -->
    <div>

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

    </div>

    {% block content %}
    {% endblock content %}

    <script src="/static/scripts/script.js"></script>

</body>
</html>