{{ form.hidden_tag() }}

{% for formField in form if formField.widget.input_type != 'hidden' %}
    
    {% if displayFormLabel %}

            {% if formField == form.pet_specie %}
            <div class="btn-group btn-group-toggle">
                <!-- https://stackoverflow.com/a/64513268 -->
                {% for formSubfield in form.pet_specie %}
                    {{ formSubfield(class="btn-check") }}
                    {{ formSubfield.label(class="btn btn-dark btn-radio") }}
                {% endfor %}
            </div>
            {% elif formField == form.gender %}
            <div class="btn-group btn-group-toggle">
                {% for formSubfield in form.gender %}
                    {{ formSubfield(class="btn-check") }}
                    {{ formSubfield.label(class="btn btn-dark btn-radio") }}
                {% endfor %}
            </div>
            {% else %}

                {{formField.label}}
                {{formField}}
            
            {% endif %}

    {% else %}

        {{ formField(placeholder=formField.label.text, class="form-control") }}
        
    {% endif %}
    
    {% for error in formField.errors %}
        <span class="text-danger">{{ error }}</span>
    {% endfor %}

{% endfor %}