{% extends 'base.html' %}

{% block backgroundImage %}
  style="background-image:url({{url_for('static', filename='paw_print_2160p.jpg')}})"
{% endblock backgroundImage %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-7">
      <table id="onboardingLinkTable">
        <tr>
          <td class="onboardingLinkTable-td"><a class="btn btn-outline-dark btn-sm btn-block" href='/login' class='{% if onboardingAction=="login"%}selectedOnboarding{% endif %}'>Login</a></td>
          <td class="onboardingLinkTable-td"><a class="btn btn-outline-dark btn-sm btn-block" href='/signup' class='{% if onboardingAction=="signup"%}selectedOnboarding{% endif %}'>Signup</a></td>
          <td class="onboardingLinkTable-td"><a class="btn btn-outline-dark btn-sm btn-block" href='/rescueSignup' class='{% if onboardingAction=="request"%}selectedOnboarding{% endif %}'>Request Organization Account</a></td>
        </tr>
      </table>
      <h2 class="join-message">
          
        {% if onboardingAction == 'signup' %}
          Connect with {{statistics.rescueOrganizations}} organizations on PetSearch today.
        {% elif onboardingAction == 'login' %}
          Welcome back.
        {% elif onboardingAction == 'request' %}
          Join {{statistics.rescueOrganizations}} other rescue organizations. Request a Rescue Agency account.
        {% endif %}

      </h2>

      <form method="POST" id="">
        
        {% include 'form_base.html' %}

        <button class="btn btn-dark btn btn-block">
          
          {% if onboardingAction == 'signup' %}
            Sign Up
          {% elif onboardingAction == 'login' %}
            Login
          {% elif onboardingAction == 'request' %}
            Request a Rescue Agency Account.
          {% endif %}

        </button>
      </form>
    </div>
  </div>

{% endblock %}